<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Apply Directives</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="js/main.js"></script>
    </head>
    
    <body ng-controller='mainCtrl as main'>
        <h1>Hello World</h1>
        <!-- basic ng-repeat over an array -->
        <ul>
            <li ng-repeat="monkey in main.monkeys"> 
                My name is {{ monkey }} I'm monkey #{{ $index }}
            </li>
        </ul>
        <!-- basic ng-repeat over an object's properties -->
        <ul>
            <li ng-repeat="(name, monkeyBiz) in main.monkeyObjs"> 
                {{ name }} likes to {{ monkeyBiz }}.
            </li>
        </ul>
        <ul>
            <li ng-repeat="monkey in main.monkeyDupes track by $index">
                {{ monkey }}
            </li>
        </ul>
        
    </body>
    
</html>